.formDetails {
  width: 70%;
  min-width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  background: rgb(151, 140, 210);
  border-radius: 5px;
}
.formDetails summary {
  margin: auto;
  color: var(--text-color);
  letter-spacing: 2px;
  text-shadow: 1px 0 5px black;
  font-family: var(--textFont);
  font-size: 1.5rem;
}
*:focus {
  outline: none;
  box-shadow: 0 0 5px 3px var(--action-text);
}
summary::-webkit-details-marker {
  color: rebeccapurple;
}
.form {
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr;
}
.form > * {
  margin-top: 1rem;
}
.persons__input {
  min-height: 100px;
  text-align: center;
  border-radius: 5px;
}

.form__extras {
  padding: 1rem;
}

.form * > label {
  color: var(--text-color);
}
.button__submit {
  font-family: var(--titelFont);
  font-size: 1rem;
  border-radius: 10px;
  max-width: 10rem;
  margin: 1rem auto;
  padding: 1rem 3rem;
}
#persons__inputDelimiter {
  color: black;
  width: 10%;
}
