.header {
  background-color: var(--background-color);
  background: rgb(49, 10, 107);
  background: linear-gradient(
    180deg,
    rgba(49, 10, 107, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  color: var(--foreground-color);
  text-align: center;
}
.header__titel {
  margin-top: 4rem;
  /* padding: 2rem 0 0rem; */
}

.header__subtitel {
  margin-bottom: 5rem;
}
