.valuesToChoose,
.alreadyChoosen {
  display: grid;
  align-content: center;
  justify-content: center;
}
.value {
  display: table;
  border-radius: 10px;
  background-color: var(--action-background);
  font-family: var(--textFont);
  color: var(--text-color);
  margin: 1rem 0.5rem;
  padding: 1rem 2rem;
  list-style-type: none;
  text-shadow: 0 0 5px var(--background-color);
  letter-spacing: 2px;
}

.ids {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}
